.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: $drop-bg-color;
  overflow-y: scroll;
  opacity: 1;
  z-index: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.backdrop__modal {
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  opacity: 1;
  background-color: $background-color;

  .backdrop.is-hidden & {
    transform: scale(0.9);
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform, opacity;

    .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}
