.block-foot {
  background-color: $background-hero;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  &__address {
    margin-bottom: 8px;
    color: $background-color;
    font-weight: $font-weight;
    font-style: normal;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts {
  &__list {
    @extend %idents;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: $color-fform-pholder;
    text-decoration: none;
    font-weight: $font-weight;
  }
}
