.block-foot__general2 {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }

  .block-foot__title {
    @extend %foot-title;
  }
}

.block-foot__list {
  display: flex;
  justify-content: center;
  @extend %idents;

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }

  .block-foot__item {
    width: 44px;
    height: 44px;
  }
  .block-foot__item:not(:last-child) {
    margin-right: 10px;
  }

  .block-foot__img {
    @extend %size-img;
    fill: $background-color;
  }
}
.block-foot__link {
  @extend %property-display;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: $bg-foot-link;
  transition: transform 250ms $timing-function;
  transition-property: background-color;
  outline: transparent;

  &:focus,
  &:hover {
    background-color: $active-color;
  }
}
