.contacts {
  display: none;

  &__list {
    @extend %idents;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item:not(:nth-child(1)) {
      margin-left: 50px;
    }
  }
}

.contacts__link {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $additional-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition: transform 250ms $timing-function;
    transition-property: background-color;

    &:hover,
    &:focus {
      color: $active-color;
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 8px;
    fill: currentColor;
  }
}

.contacts__list .contacts__item + .contacts__item {
  margin-left: 50px;
}
