.mobile-site-menu {
  display: none;

  @media screen and (max-width: 767px) {
    padding: 48px 40px;

    &.is-open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: $background-color;
      z-index: 1;
    }
  }
}
@media screen and (min-width: 768px) {
  display: none;
}

.mobile-site-menu__list,
.mobile-contacts__list,
.mobile-social__list {
  @extend %idents;
  margin-top: 0;
}

.mobile-site-menu__nav {
  margin-bottom: auto;
}

.mobile-site-menu__item:not(:last-child),
.mobile-contacts__item:not(:last-child) {
  padding-top: 0;
  padding-bottom: 32px;
}

.mobile-contacts {
  margin-left: 40px;
  margin-bottom: 64px;
}

.mobile-site-menu__link,
.mobile-contacts__tel,
.mobile-contacts__mail,
.mobile-social__link {
  display: block;
  text-decoration: none;
}

.mobile-site-menu__link {
  @extend %text-mobile;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $main-text-color;
  transition: transform 250ms $timing-function;
  transition-property: color;

  &:hover,
  &:focus,
  &.current {
    color: $active-color;
  }
}

.mobile-contacts__tel {
  @extend %text-mobile;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $active-color;
}

.mobile-contacts__mail {
  @extend %text-mobile;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $additional-text-color;
}

.mobile-social__list {
  display: flex;
  flex-wrap: wrap;
}
.mobile-social__link {
  @extend %text-mobile;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $active-color;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
