.nav {
  display: flex;
}
.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: $font-style;
    margin-left: 88px;

    .nav__item:not(:nth-child(1)) {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.nav__link {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $main-text-color;

    transition: transform 250ms $timing-function;
    transition-property: color;

    &:hover,
    &:focus,
    &:active,
    &.current {
      color: $active-color;
    }
  }
}

.nav__link {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: transform 250ms $timing-function;
    transition-property: color;

    &:hover::before,
    &:focus::before,
    &:active:before,
    &.current::before {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      top: 76px;
      background: $active-color;
      border-radius: 2px;
    }
  }
}
