.our-pluses__section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.our-pluses__list {
  @extend %idents;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.our-pluses__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.our-pluses__title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: $sec-font-weight;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.our-pluses__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  color: $additional-text-color;
}

.ground-of-icons {
  @extend %property-display;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: $background-icons;
  border-radius: $border-radius;

  .icons-of-pluses {
    width: 70px;
    height: 70px;
  }
}
